# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R Studio
2. Microsoft Visual Studio
3. MySQL
4. MongoDB

List of common libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. NLTK
4. Plotly

### A table of Data Science tools
| Data Science Tools  |
|---------------------|
| Jupyter Notebook    |
| R Studio            |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python

- Create a code cell to multiply and add numbers

In [ ]:
# This a simple arithmetic expression to mutiply then add integers.
x=(3*4)+5
x

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60.
min_hrs = 200/60
min_hrs

3.3333333333333335

# key takeaways from the course

**Objectives**
- Data Sci tools
- Data Sci Langnages
- Data Sci Libraries

## Author

[Yeo Xiu Juan](https://www.linkedin.com/in/lakshmi-holla-b39062149/)